* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  font-family: "Courier New", Courier, monospace;
}

.App {
  width: 100vw;
  height: 100vh;
  display: flex;
  gap: 20px;
  padding: 20px 60px;
  background-color: black;
}

section {
  width: 100%;
  height: 100%;
}

/* Escritorios  */
@media screen and (min-width: 1281px) {
  /* Escritorio grande */
}
@media screen and (min-width: 1025px) and (max-width: 1280px) {
  /* Escritorio mediano */
  .App {
    padding: 10px 20px;
    gap: 10px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1024px) {
  /* Escritorios peque帽os o pantallas orizontales */
  .App {
    padding: 10px 20px;
    gap: 10px;
  }
}

/* M贸viles  */
@media screen and(max-width: 320px) {
  /* M贸vil peque帽o */
}

@media screen and (min-width: 321px) and (max-width: 480px) {
  /* M贸vil mediano */
}

@media screen and (min-width: 481px) and (max-width: 767px) {
  /* M贸vil grande */
}
