.footer {
  position: absolute;
  width: 100%;
  padding: 5px 0;
  bottom: 0;
  z-index: 1000;
}

.footer .copyright {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 5px;
}

.footer .copyright a:nth-child(1) {
  color: #ff6b00;
}

.copyright a {
  color: #fff;
}
