/* <---------------- Estilo base ----------------> */

#informacion-personal {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
  width: 300px;
  color: #fff;
  border-radius: 20px;
  padding: 20px 30px;
  background-color: #1a1a1a;
}

.presentacion-principal {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 40%;
  gap: 20px;
}

.contenedor-imagen {
  width: 130px;
  height: 120px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 30px;
  background-color: #2c2c2c;
  box-shadow: 2px 4px 6px #ff6a007e;
}

.contenedor-imagen img {
  width: 150px;
  height: auto;
  object-fit: cover;
}

.presentacion-principal .nombre {
  font-size: 20px;
  text-transform: uppercase;
  font-weight: bold;
}

.presentacion-principal .rol {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 10px 5px;
  border-radius: 10px;
  background-color: #2c2c2c;
  box-shadow: 2px 4px 2px #ff6b00;
}

.seprarador {
  width: 100%;
  padding: 1px;
  height: 1px;
  background-color: #ff6a007e;
  /* border: 1px solid red; */
}

.contacto-contenedor {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
  width: 100%;
  height: 50%;
  padding: 20px 10px;
}

.contacto-contenedor .contacto-item {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  gap: 10px;
  padding: 8px 10px;
  border-radius: 10px;
  background-color: #2c2c2c;
  box-shadow: 2px 4px 6px rgba(0, 0, 0, 0.476);
}

.contacto-item .icono img {
  width: 25px;
  height: auto;
  object-fit: cover;
}

.contacto-detalle {
  display: flex;
  flex-direction: column;
  justify-content: center;
  overflow: hidden;
  flex: 1; /* Permite que el texto ocupe el espacio disponible */
}

.contacto-detalle p {
  font-size: 14px;
}

.contacto-detalle p:nth-child(1) {
  text-transform: uppercase;
  color: #ff6b00;
}

/* <---------------- Media query reponsives ----------------> */
/* Escritorios  */
@media screen and (min-width: 1281px) {
  /* Escritorio grande */
  #informacion-personal {
    width: 250px;
    padding: 5px 10px;
  }

  .presentacion-principal {
    gap: 20px;
    /* height: 100%; */
    padding: 5px 10px;
  }

  .contenedor-imagen {
    width: 120px;
    height: auto;
  }

  .contenedor-imagen img {
    width: 120px;
    /* height: auto; */
  }

  .presentacion-principal .nombre,
  .rol {
    padding: 5px;
    font-size: 17px;
  }

  .presentacion-principal .rol {
    height: 35px;
    padding: 5px;
    font-size: 14px;
    box-shadow: 0px 2px 2px #ff6a009c;
  }

  .contacto-contenedor .contacto-item {
    gap: 5px;
  }

  .contacto-contenedor .contacto-item img {
    width: 20px;
    height: auto;
  }

  .contacto-contenedor .contacto-item p {
    font-size: 14px;
  }

  .seprarador{
    margin-bottom: 10px;
  }
}

@media screen and (min-width: 1025px) and (max-width: 1280px) {
  /* Escritorio mediano */
  #informacion-personal {
    width: 200px;
    padding: 5px 10px;
  }

  .presentacion-principal {
    gap: 20px;
    height: 40%;
  }

  .contenedor-imagen {
    width: 100px;
    height: 90px;
  }

  .contenedor-imagen img {
    width: 100px;
    height: auto;
  }

  .presentacion-principal .nombre,
  .rol {
    padding: 5px;
    font-size: 14px;
  }

  .presentacion-principal .rol {
    padding: 5px;
    font-size: 12px;
    box-shadow: 0px 2px 2px #ff6a009c;
  }

  .contacto-contenedor .contacto-item {
    gap: 5px;
  }

  .contacto-contenedor .contacto-item img {
    width: 15px;
    height: auto;
  }

  .contacto-contenedor .contacto-item p {
    font-size: 12px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1024px) {
  /* Escritorios peque帽os o pantallas orizontales */
  #informacion-personal {
    width: 200px;
    padding: 5px 10px;
  }

  .presentacion-principal {
    gap: 20px;
    height: 40%;
  }

  .contenedor-imagen {
    width: 100px;
    height: 90px;
  }

  .contenedor-imagen img {
    width: 100px;
    height: auto;
  }

  .presentacion-principal .nombre,
  .rol {
    padding: 5px;
    font-size: 14px;
  }

  .presentacion-principal .rol {
    padding: 5px;
    font-size: 12px;
    box-shadow: 0px 2px 2px #ff6a009c;
  }

  .contacto-contenedor .contacto-item {
    gap: 5px;
  }

  .contacto-contenedor .contacto-item img {
    width: 15px;
    height: auto;
  }

  .contacto-contenedor .contacto-item p {
    font-size: 12px;
  }
}

/* M贸viles  */
@media screen and(max-width: 320px) {
  /* M贸vil peque帽o */
}

@media screen and (min-width: 321px) and (max-width: 480px) {
  /* M贸vil mediano */
}

@media screen and (min-width: 481px) and (max-width: 767px) {
  /* M贸vil grande */
}
