#inicio {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
}

.contenido {
  width: 500px;
  position: absolute;
  top: 40%;
  left: 100px;
  transform: translateY(-50%);
  line-height: 1.5;
}

.contenido h1 {
  color: #ff4500;
  font-size: 30px;
  font-weight: bold;
  text-transform: uppercase;
  opacity: 0;
  animation: aparecer2 1s ease-in-out forwards;
}

.contenido div:nth-child(2),
.contenido div:nth-child(3) {
  margin-left: 5px;
}

.contenido .des {
  opacity: 0;
  animation: aparecer2 1s ease-in-out forwards;
}

.contenido .btn {
  display: flex;
  gap: 10px;
  margin-top: 20px;
  opacity: 0;
  animation: aparecer2 1s ease-in-out forwards;
}

@keyframes aparecer2 {
  0% {
    opacity: 0;
    transform: translateY(100%);
    filter: blur(30px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
    filter: blur(0);
  }
}

.contenido .btn button {
  outline: none;
  padding: 10px 20px;
  font-size: 16px;
  font-weight: bold;
  border: 2px solid #fff;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s, border-color 0.3s;
}

.contenido .btn button:nth-child(2) {
  display: flex;
  align-items: center;
  justify-content: center;
  background: transparent;
  color: white;
  border: 2px solid #ff4500;
  transform: 0.3s;
}

.contenido .btn button:nth-child(2):hover {
  background-color: #ff4500;
  color: #fff;
  border-color: #ff4500;
}

.contenido .btn button:nth-child(2) img {
  width: 20px;
  height: 20px;
  margin-left: 5px;
  color: #ff4500;
}

.habilidades {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
  width: 100%;
  height: 100px;
  top: 70%;
}

.habilidades h2 {
  width: 100%;
  text-align: center;
  transform: translateX(100%);
  opacity: 0;
  animation: aparecer 1s ease-in-out 0.3s 1 forwards;
}

.habilidades .items {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 50px;
  gap: 20px;
  /* border: 1px solid red; */
}

.habilidades .items img {
  opacity: 0;
  transform: translateX(400px);
  animation: aparecer 1s ease-out forwards;
  filter: blur(20px);
}

.habilidades .items img:nth-child(1) {
  animation-delay: 0.3s;
}
.habilidades .items img:nth-child(2) {
  animation-delay: 0.6s;
}
.habilidades .items img:nth-child(3) {
  animation-delay: 0.9s;
}
.habilidades .items img:nth-child(4) {
  animation-delay: 1.2s;
}
.habilidades .items img:nth-child(5) {
  animation-delay: 1.5s;
}
.habilidades .items img:nth-child(6) {
  animation-delay: 1.8s;
}

@keyframes aparecer {
  0% {
    opacity: 0;
    transform: translateX(400px);
    filter: blur(20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
    filter: blur(0);
  }
}

.items img {
  width: 40px;
  height: 40px;
}

/* Escritorios  */

@media screen and (min-width: 1025px) and (max-width: 1280px) {
  /* Escritorio mediano */
  .contenido {
    width: 100%;
    padding: 10px 20px;
    left: 50px;
  }

  .contenido h1 {
    font-size: 25px;
  }

  .contenido .des {
    width: 400px;
  }

  .contenido .btn button {
    padding: 5px 10px;
    font-size: 14px;
  }

  .habilidades {
    width: 100%;
    right: 0;
  }

  .habilidades .items img {
    width: 30px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1024px) {
  /* Escritorios peque帽os o pantallas orizontales */

  .contenido {
    width: 100%;
    padding: 10px 20px;
    left: 30px;
  }

  .contenido h1 {
    font-size: 25px;
  }

  .contenido .des {
    width: 400px;
  }

  .contenido .btn button {
    padding: 5px 10px;
    font-size: 14px;
  }

  .habilidades {
    width: 100%;
    right: 0;
  }

  .habilidades .items img {
    width: 30px;
  }
}

/* M贸viles  */
@media screen and(max-width: 320px) {
  /* M贸vil peque帽o */
}

@media screen and (min-width: 321px) and (max-width: 480px) {
  /* M贸vil mediano */
}

@media screen and (min-width: 481px) and (max-width: 767px) {
  /* M贸vil grande */
}
