#section-projects {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  overflow: hidden;
}

.projects {
  width: 100%;
  height: 100%;
  position: relative;
  overflow: hidden;
}

.projects .item {
  width: 140px;
  height: 200px;
  position: absolute;
  top: 80%;
  left: 70%;
  transform: translateY(-70%);
  border-radius: 20px;
  box-shadow: 0 25px 50px rgba(0, 0, 0, 0.5);
  background-position: 50% 50%;
  background-size: cover;
  z-index: 100;
  transition: 1s;
}

.projects .item:nth-child(1),
.projects .item:nth-child(2) {
  top: 0;
  left: 0;
  transform: translate(0, 0);
  width: 100%;
  height: 100%;
  border-radius: 0;
}

.projects .item:nth-child(3) {
  left: 85%;
}

.projects .item:nth-child(n + 5) {
  left: calc(85% + 200px);
  opacity: 0;
}

.item .contenedor {
  position: absolute;
  top: 40%;
  left: 70px;
  width: 400px;
  transform: translateY(-50%);
  display: none;
}

.item:nth-child(2) .contenedor {
  display: block;
}

.item .contenedor .titulo {
  font-size: 50px;
  font-weight: 600;
  text-transform: uppercase;
  line-height: 1;
  color: #ff6b00;
  opacity: 0;
  animation: animate 1s ease-in-out 0.3s 1 forwards;
}

.item .contenedor .nombre {
  font-size: 50px;
  font-weight: 600;
  text-transform: uppercase;
  line-height: 1;
  color: #fff;
  text-shadow: 3px 4px 4px rgba(255, 255, 255, 0.8);
  opacity: 0;
  animation: animate 1s ease-in-out 0.6s 1 forwards;
}

.contenedor .des {
  font-size: 15px;
  margin-left: 10px;
  opacity: 0;
  animation: animate 1s ease-in-out 0.9s 1 forwards;
}

.contenedor .btn {
  display: flex;
  gap: 10px;
  margin: 10px 0 0 10px;
  opacity: 0;
  animation: animate 1s ease-in-out 1.2s 1 forwards;
}

.contenedor .btn button {
  width: 120px;
  padding: 5px 10px;
  font-size: 16px;
  font-weight: bold;
  text-transform: uppercase;
  color: black;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: 1s;
}

.contenedor .btn button:nth-child(2) {
  background-color: transparent;
  border: 2px solid #ff6b00;
  color: #fff;
}

.contenedor .btn button:nth-child(2):hover {
  background-color: #ff6b00;
  color: #fff;
  transition: background-color 0.4s ease;
}

@keyframes animate {
  0% {
    opacity: 0;
    transform: translate(0, 100px);
    filter: blur(33px);
  }
  100% {
    opacity: 1;
    transform: translate(0);
    filter: blur(0px);
  }
}

.timeLine {
  position: absolute;
  width: 0%;
  height: 2px;
  left: 0;
  top: 0;
  background-color: #ff6b00;
  z-index: 1000;
  animation: timeRunning 7s linear forwards;
}

@keyframes timeRunning {
  0% {
    width: 0%;
  }
  100% {
    width: 100%;
  }
}

.arrows {
  position: absolute;
  top: 80%;
  right: 62%;
  z-index: 2000;
}

.arrows button {
  width: 40px;
  height: 40px;
  margin-left: 10px;
  border-radius: 50%;
  background-color: #ff6a009f;
  color: #fff;
  border: none;
  cursor: pointer;
  transition: 0.5s ease;
  box-shadow: 0 1px 4px rgba(255, 132, 45, 0.823);
}

.arrows button:hover {
  background-color: #ff6b00;
}

/* Escritorios  */
@media screen and (min-width: 1025px) and (max-width: 1279px) {
  .projects .item {
    width: 100px;
    height: 140px;
  }
  /* Escritorio mediano */
}
@media screen and (min-width: 768px) and (max-width: 1024px) {
  /* Escritorios peque帽os o pantallas orizontales */

  .projects .contenedor {
    /* border: 1px solid red; */
    left: 40px;
  }

  .projects .item {
    width: 100px;
    height: 140px;
    left: 75%;
  }

  .projects .item:nth-child(3) {
    opacity: 0;
  }

  .projects .contenedor .titulo,
  .projects .contenedor .nombre {
    font-size: 40px;
  }

  .projects .contenedor .des {
    font-size: 14px;
  }

  .contenedor .btn button {
    font-size: 14px;
    width: 100px;
  }
}

@media screen and (min-width: 481px) and (max-width: 767px) {
  /* M贸vil grande */
}

@media screen and (min-width: 321px) and (max-width: 480px) {
  /* M贸vil mediano */
}

/* M贸viles  */
@media screen and(max-width: 320px) {
  /* M贸vil peque帽o */
}
