#bazar {
  padding-top: 50px;
}

.bazar-banner {
  height: 100vh;
  background-size: cover;
  background-position: center;
  color: white;
  /* margin-bottom: 2rem; */
  background-attachment: fixed;
}

.fondo-oscuro {
  background-color: rgba(0, 0, 0, 0.6);
  background-blend-mode: darken;
}

.bazar-banner-info {
  display: flex;
  flex-direction: column;
  gap: 10px;
  position: relative;
  top: 30%;
  left: 10%;
  width: 450px;
  opacity: 0;
  transform: translateX(-50px);
  animation: entradaBanner 1s ease forwards;
  animation-delay: 0.3s;
}

@keyframes entradaBanner {
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

.bazar-banner-info .bazar-banner-descripcion {
  color: #ccc;
  width: 100%;
}

.bazar-banner-info .bazar-boton-leer-mas {
  background-color: transparent;
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-weight: 600;
  transition: background-color 0.3s ease;
}

.bazar-boton-leer-mas:hover {
  color: #d78d11;
}

.bazar-banner-etiqueta {
  font-size: 1rem;
  text-transform: uppercase;
  opacity: 0.8;
}

.carrusel-submenu {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  height: 40px;
  width: 100%;
  top: 90%;
  transition: all 0.3s ease-in;
}

.botones-carrusel {
  display: flex;
  gap: 15px;
}

.botones-carrusel button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50px;
  height: 50px;
  padding: 1rem;
  text-align: center;
  border: none;
  border-radius: 50%;
  color: white;
  font-size: 1.5rem;
  font-weight: bold;
  cursor: pointer;
  background-color: transparent;
}

.carrusel-submenu button:hover {
  background-color: rgba(255, 255, 255, 0.3);
  color: black;
}

.botones-carrusel.oscuro {
  color: black;
  transition: all 0.6s ease;
}

.botones-carrusel.oscuro:hover {
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
}

.bazar-banner-titulo {
  font-size: 3.5rem;
  font-weight: bold;
  margin: 0.5rem 0 1rem;
}

.bazar-contenido {
  padding: 3rem 2rem;
  background-color: #fff7e6;
  border-radius: 16px;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.1);
  max-width: 1000px;
  margin: 4rem auto;
  scroll-margin-top: 80px; /* para cuando haces scroll con scrollIntoView */
}

.bazar-descripcion {
  font-size: 1.125rem;
  line-height: 1.8;
  color: #333;
  font-weight: 400;
  text-align: justify;
  text-wrap: pretty;
  padding: 1rem;
}

.bazar-descripcion::first-line {
  font-weight: bold;
  color: #c2780f;
}

.bazar-descripcion::first-letter {
  font-size: 2rem;
  font-weight: bold;
  color: #f6a81b;
}

.bazar-contenido {
  opacity: 0;
  transform: translateY(40px);
  animation: fadeInUp 1s ease forwards;
}

@keyframes fadeInUp {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

/* Móviles pequeños */
@media (min-width: 360px) and (max-width: 480px) {
  #bazar{
    gap: 10px;
  }

  .bazar-banner-info{
    top: 10%;
    left: 0;
    width: 100%;
    padding: 20px;
  }

  .bazar-banner-info p{
    width: 100%;
    font-size: 20px;
  }
  
  .bazar-contenido {
    margin: 0;
    padding: 2rem 1rem;
  }

  .bazar-descripcion {
    font-size: 1rem;
  }
}

/* Móviles grandes y tablets pequeñas */
@media (min-width: 481px) and (max-width: 767px) {
}

/* Tablets grandes */
@media (min-width: 768px) and (max-width: 1024px) {
}

/* Escritorios */
@media (min-width: 1025px) {
}
