#centroEducativoEnvigado {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding-top: 50px;
  overflow: hidden;
}

.banner-centro {
  height: 100vh;
  overflow: hidden;
}

.intro-centro {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 30px;
  height: 100%;
  color: white;
  text-align: center;
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  background-color: rgba(0, 0, 0, 0.6);
  background-blend-mode: darken;
}

.intro-centro h2 {
  font-size: 40px;
  text-transform: uppercase;
  color: #ffc107;
}

.intro-centro p {
  width: 50%;
}

.cards-centro {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

.bloque-info {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 450px;
  height: 300px;
  padding: 20px;
  box-shadow: 2px 4px 10px rgba(0, 0, 0, 0.6);
}

.objetivo-general h2,
.mision h2,
.vision h2 {
  text-transform: uppercase;
}

.objetivo-general {
  color: white;
  background-color: blue;
}

.objetivo-general h2 {
  color: #ffc107;
}

.mision {
  color: white;
  background-color: #ffc107;
}

.mision h2 {
  color: blue;
}

.perfil-ninos {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 40px 20px;
}

.perfil-titulo {
  text-align: center;
  text-transform: capitalize;
  font-size: 2.5rem;
  margin-bottom: 50px;
  color: blue;
}

.perfil-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-content: center;
  gap: 20px;
}

.perfil-card {
  display: flex;
  flex-direction: row;
  width: 400px;
  min-height: 200px;
  gap: 20px;
  padding: 10px;
  background-color: #fff;
}

/* Imagen */
.perfil-img {
  width: 120px;
  height: 100px;
  object-fit: contain;
}

/* Texto */
.perfil-descripcion {
  flex: 1;
  font-size: 16px;
}

/* Galería de Video - Centro Educativo */
.centro-educativo-galeria-video {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 500px;
}

.centro-educativo-galeria-contenedor {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 80%;
  height: 80%;
  gap: 40px;
  border-radius: 20px;
  background-color: #0099ff;
}

.centro-educativo-galeria-descripcion {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 40%;
  color: white;
}

.centro-educativo-galeria-descripcion h2 {
  font-size: 2.5rem;
  font-weight: bold;
}

.centro-educativo-galeria-descripcion p {
  width: 70%;
}

.centro-educativo-video-items {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  width: 500px;
  height: 80%;
  max-width: 800px;
}

.centro-educativo-video-item {
  position: absolute;
  width: 500px;
  max-width: 90vw;
}

.centro-educativo-video-player {
  width: 100%;
  height: 250px;
  border-radius: 15px;
}

.centro-educativo-video-botones {
  display: flex;
  position: absolute;
  width: 100%;
  height: 40px;
  top: 88%;
  gap: 20px;
  padding-left: 20px;
  background-color: black;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  z-index: 1;
}

.centro-educativo-video-botones button {
  background-color: transparent;
  border: none;
  outline: none;
  color: white;
  cursor: pointer;
}


.oculto {
  opacity: 0;
  transition: all 0.8s ease-in-out;
}

.mostrar {
  opacity: 1;
}

[data-anim="fade"].oculto {
  transform: scale(0.95);
}

[data-anim="slide-up"].oculto {
  transform: translateY(80px);
}
[data-anim="slide-down"].oculto {
  transform: translateY(-80px);
}
[data-anim="slide-left"].oculto {
  transform: translateX(-80px);
}
[data-anim="slide-right"].oculto {
  transform: translateX(80px);
}



@media (max-width: 768px) {
  .perfil-grid {
    grid-template-columns: 1fr;
  }

  .perfil-card {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .perfil-img {
    width: 80px;
    height: 80px;
  }

  .perfil-descripcion {
    font-size: 14px;
  }
}


