#documentos {
  padding: 65px 0;
  background-color: #f5f5f5;
}

.banner-documentos{
    position: relative;
    height: 65vh;
    background-position: center;
    background-size: cover;
    background-blend-mode: darken;
    background-color: rgba(0, 0, 0, 0.3);
}

.banner-documentos p{
    position: absolute;
    top: 50%;
    left: 45%;
    font-size: 2rem;
    text-transform: uppercase;
    font-weight: bold;
    color: white;
}

.documentos-seccion {
  display: flex;
  flex-direction: column;
  gap: 40px;
  padding: 40px 0 0 50px;
}

.tarjeta-documento {
  display: flex;
  gap: 50px;
}

.icono-documento-contenedor{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 260px;
    height: 260px;
    border: 1px solid;
}

.titulo-documento{
    margin-bottom: 10px;
    font-size: 2rem;
    text-transform: uppercase;
    color: #ffc107;
}

.lista-documentos{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
