#documentos {
  padding: 65px 0;
  background-color: #f5f5f5;
}

.banner-documentos {
  position: relative;
  height: 65vh;
  background-position: center;
  background-size: cover;
  background-blend-mode: darken;
  background-color: rgba(0, 0, 0, 0.3);
}

.banner-documentos p {
  position: absolute;
  top: 50%;
  left: 45%;
  font-size: 2rem;
  text-transform: uppercase;
  font-weight: bold;
  color: white;
}

.documentos-seccion {
  display: flex;
  flex-direction: column;
  gap: 40px;
  padding: 40px 0 0 50px;
}

.tarjeta-documento {
  display: flex;
  gap: 50px;
}

.icono-documento-contenedor {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 260px;
  height: 260px;
}

.titulo-documento {
  margin-bottom: 10px;
  font-size: 2rem;
  text-transform: uppercase;
  color: #ffc107;
}

.lista-documentos {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.lista-documentos a {
  color: #757575;
}

.sobre-royary {
  background-color: #0099ff;
  border-radius: 10%;
  box-shadow: 3px 4px 8px rgba(0, 0, 0, 0.3);
}

.sobre-primera-infancia {
  background-color: #efa51e;
  border-radius: 10%;
  box-shadow: 3px 4px 8px rgba(0, 0, 0, 0.3);
}

.sobre-nuestras-sedes {
  background-color: #f5f5f5;
  border-radius: 10%;
  box-shadow: 3px 4px 8px rgba(0, 0, 0, 0.3);
}

.sobre-royary-h2 {
  color: #0099ff;
}

.sobre-primera-infancia-h2 {
  color: #efa51e;
}

.sobre-nuestras-sedes-h2 {
  color: #b9b9b9;
}

.oculto {
  opacity: 0;
  transform: translateY(50px);
  transition: all 0.6s ease;
}

.mostrar {
  opacity: 1;
  transform: translateY(0);
}

[data-anim="fade-up"].oculto {
  transform: translateY(50px);
}

[data-anim="fade-up"].mostrar {
  transform: translateY(0);
}

/* Móviles pequeños */
@media (min-width: 360px) and (max-width: 480px){
  #documentos{
    padding: 50px 0 0 0;
  }

  .banner-documentos p{
    left: 20%;
  }

  .documentos-seccion{
    padding: 80px 0 20px 40px;
  }

  .tarjeta-documento{
    flex-direction: column;
    gap: 20px;
    /* border: 1px solid; */
  }

  .icono-documento-contenedor{
    border-radius: 10px;
    width: 300px;
  }

  .icono-documento{
    width: 230px;
    object-fit: cover;
  }

  .contendor-icono{
    width: auto;
  }

  .lista-documentos li a{
    font-size: 20px;
  }
}

/* Móviles grandes y tablets pequeñas */
@media (min-width: 481px) and (max-width: 767px) {
}

/* Tablets grandes */
@media (min-width: 768px) and (max-width: 1024px) {
}

/* Escritorios */
@media (min-width: 1025px) {
}
